<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <!-- injecting built-in values sample -->
    <bean id="person" class="com.manh.spring.Person">
        <property name="name">
            <value>John Smith</value>
        </property>
        <property name="age">
            <value>85</value>
        </property>
        <property name="height">
            <value>1.99</value>
        </property>
        <property name="isProgrammer">
            <value>true</value>
        </property>
    </bean>
    
</beans>
